{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title">{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">{{ .Description }}</div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
    </div>
    {{- end }}
  </header>

  {{- $img := .Param "cover.image" }}
  {{- if $img }}
  {{- $alt := (.Param "cover.alt") | default (.Param "cover.caption") | default .Title }}
  <div class="gallery-full">
    <img loading="eager" src="{{ $img | absURL }}" alt="{{ $alt }}" class="gallery-full-img">
    {{- with .Param "cover.caption" }}
    <p class="gallery-full-caption">{{ . | markdownify }}</p>
    {{- end }}
  </div>
  {{- end }}

  {{- if .Content }}
  <div class="post-content md-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  <footer class="post-footer">
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
  </footer>
</article>

{{- end }}{{/* end main */}}
